* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px solid rgba(255, 255, 255, 0.5);*/
}

body {
  background-color: Black;
}

.header {
  position: fixed;
  width: 100%;
  height: 2rem;
  background-color: Gold;
  text-align: center;
}

a.home {
  line-height: 2rem;
  font-size: 0.8rem;
  font-family: 'Rock Salt', cursive;
  font-weight: 500;
  color: Black;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.pack-header-container {
  position: fixed;
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  background-color: rgb(20, 20, 20);
  font-size: 0px;
}

.pack {
  padding-top: 5rem;
}

.pack-header {
  height: inherit;
}

.menu-icon-container, .pack-title-container, .version-title-container {
  display: inline-block;
  vertical-align: middle;
  height: inherit;
}

.menu-icon-container {
  width: 15%;
}

.pack-title-container {
  width: 70%;
  text-align: center;
}

.version-title-container {
  width: 15%;
  text-align: right;
}

h2, h3, .pack-title, .version-title, .pack-link {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

#menu-icon, .pack-title, .version-title {
  display: inline-block;
  line-height: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  color: White;
  white-space: nowrap;
}

#menu-icon {
  margin-left: 0.3rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.pack-title {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: default;
}

.version-title {
  background-color: rgb(50, 50, 50);
  font-weight: 500;
  margin-right: 0.2rem;
  width: 3rem;
  font-size: 0.75rem;
  cursor: pointer;
}

/*Navigation*/
.sideNav, .versionNav {
  background-color: rgb(50, 50, 50);
  position: fixed;
  z-index: 1;
  top: 5rem;
  overflow: hidden;
  transition: 0.5s;
}

.sideNav {
  bottom: 0;
  width: 0;
}

.floatContainer {
  width: 4.5rem;
  float: right;
}

.versionNav {
  width: 4.5rem;
  height: 0;
}

.nav-content, .version-content {
  display: block;
  font-family: 'Roboto', sans-serif;
}

.nav-content {
  height: 100%;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
}

.version-content {
  margin-top: 0.5rem;
  padding-right: 0.7rem;
  text-align: right;
  font-size: 0;
}

.menu-link {
  display: block;
  height: 2rem;
  line-height: 2rem;
  color: White;
  text-decoration: none;
  white-space: nowrap;
}

#menu-link3 {
  position: relative;
  top: calc(100% - 9rem);
}

.check-icon {
  display: inline-block;
  height: 1.8rem;
  width: 1.2rem;
  line-height: 0.7rem;
  padding-top: 0rem;
  color: White;
  vertical-align: top;
}

.material-icons.check-icon {
  font-size: 0.7rem;
}

.version-link {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  height: 1.8rem;
  width: 2.6rem;
  line-height: 0.8rem;
  padding: 0;
  color: White;
  vertical-align: top;
  font-size: 0.8rem;
  cursor: pointer;
}

.hidden-icon {
  color: rgb(50, 50, 50);
}

/*Pack Content*/
.theme {
  text-align: center;
  margin-bottom: 1rem;
}

.theme-header {
  width: 18rem;
  border-radius: 0.5rem;
  background-color: Gold;
  color: Black;
  font-size: 1.0rem;
  padding: 0.2rem 0;
  margin: 0.5rem auto;
}

.verse {
  text-align: left;
  max-width: 24rem;
  background-color: rgb(30, 30, 30);
  padding: 0.5rem 1.0rem;
  margin: 1.0rem auto;
}

.reference-top {
  display: inline-block;
  width: 90%;
  line-height: 1.0rem;
  text-align: left;
}

.number {
  display: inline-block;
  width: 10%;
  line-height: 1.0rem;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.verse-text {
  text-align: left;
}

.reference-end {
  text-align: right;
}

p.verse-text, p.reference-top, p.reference-end {
  color: White;
  font-family: 'Lora', serif;
  font-size: 1.0rem;
}

p.verse-text, p.reference-top, p.reference-end, p.number {
  margin: 0.5rem 0;
}

@media only screen and (orientation: portrait) and (min-width: 600px), (orientation: landscape) and (min-height: 600px) {
  .header {
    height: 3rem;
  }

  a.home {
    line-height: 3rem;
    font-size: 1.2rem;
  }

  .pack-header-container {
    margin-top: 3rem;
    height: 4rem;
  }

  .pack-header {
    margin: 0 1rem;
  }

  #menu-icon, .pack-title, .version-title {
    margin-top: 0.5rem;
    line-height: 3rem;
    height: 3rem;
  }

  #menu-icon {
    font-size: 2.0rem;
  }

  .pack-title {
    font-size: 2.0rem;
  }

  .version-title {
    margin-right: 0rem;
    width: 4.5rem;
    font-size: 1.1rem;
  }

  .sideNav, .versionNav {
    top: 7rem;
  }

  .floatContainer {
    width: 8rem;
  }

  .versionNav {
    width: 8rem;
  }

  .nav-content {
    padding-top: 1.0rem;
    padding-left: 1.4rem;
    font-size: 1.4rem;
  }

  .version-content {
    margin-top: 1.0rem;
    padding-right: 1.8rem;
  }

  .menu-link {
    height: 3.5rem;
    line-height: 3.5rem;
  }

  #menu-link3 {
    top: calc(100% - 15rem);
  }

  .check-icon {
    height: 2.5rem;
    width: 2.0rem;
    line-height: 1.1rem;
  }

  .material-icons.check-icon {
    font-size: 1.1rem;
  }

  .version-link {
    height: 2.5rem;
    width: 4.2rem;
    line-height: 1.1rem;
    font-size: 1.1rem;
  }

  .pack {
    padding-top: 7rem;
  }

  .theme-header {
    width: 23rem;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
  }

  .verse {
    max-width: 50rem;
  }

  .reference-top {
    line-height: 1.5rem;
  }

  .number {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }

  p.verse-text, p.reference-top, p.reference-end {
    font-size: 1.2rem;
  }
}
